crawler.anggit.dev {
    reverse_proxy app:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    handle /storage/* {
        file_server {
            root /app/public
        }
    }
}
